node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist/
dist-ssr/
build/
.out/
.next/

.env

logs/
*.log

.DS_Store
Thumbs.db

.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

client/node_modules/
client/.env
client/.env.local
client/.DS_Store

server/node_modules/
server/.env
server/.env.local
server/.DS_Store
